.faq {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;

  }
    
  .faq__title {
    margin: 0;
    padding-bottom: 25px;
  }

  .faq__question {
    min-width: 350px;
    width: 70%;
    border-bottom: 1px solid #e7e7e9;
  }

  .faq__question-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;

    padding-top: 18px;
    padding-bottom: 18px;


  }
  .faq__question-button::after {
    content: url(../../../public/assets/icon-arrow-down.svg);
    margin-right: 17px;
    transform: rotate(90deg);
  }

  .faq__question-button:hover {
    color: #ffff;
  }
  .faq__desc { 
    text-align: justify;
    padding-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-out;
  }
  .faq__desc.show-description {
    height: max-content;
    margin-bottom: 15px;
  }
  
  /* Arrows */
  
  /* closed */
  .faq__question-button::after {
    transition: transform 300ms ease-out;
  }
  
  /* open */
  .font-weight-bold::after {
    transform: rotate(720deg);
  }
  .faq__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }